apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .AppSlug }}
  namespace: team-{{ .TeamSlug }}
spec:
  ingressClassName: traefik
  rules:
    - host: {{ .AppSlug }}.winshare.tw
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .AppSlug }}
                port:
                  number: 80
