apiVersion: v1
kind: Service
metadata:
  name: {{ .AppSlug }}
  namespace: team-{{ .TeamSlug }}
spec:
  type: ClusterIP
  selector:
    app.0ops.io/slug: {{ .AppSlug }}
  ports:
    - port: 80
      targetPort: {{ .PrimaryPort }}
